<div class="container">
    <div class="row tela">{{display}}</div>
    <div class="row">
        <div class="col-3 botao " (click)="botao7()">7</div>
        <div class="col-3 botao" (click)="botao8()">8</div>
        <div class="col-3 botao" (click)="botao9()">9</div>
        <div class="col-3 botao" (click)="botaoSoma()">+</div>
    </div>
    <div class="row">
        <div class="col-3 botao" (click)="botao4()">4</div>
        <div class="col-3 botao" (click)="botao5()">5</div>
        <div class="col-3 botao" (click)="botao6()">6</div>
        <div class="col-3 botao" (click)="botaoSubtracao()">-</div>
    </div>
    <div class="row">
        <div class="col-3 botao" (click)="botao1()">1</div>
        <div class="col-3 botao" (click)="botao2()">2</div>
        <div class="col-3 botao" (click)="botao3()">3</div>
        <div class="col-3 botao" (click)="botaoMultiplicacao()">X</div>
    </div>
    <div class="row">
        <div class="col-3 botao" (click)="botaoC()">C</div>
        <div class="col-3 botao" (click)="botao0()">0</div>
        <div class="col-3 botao" (click)="botaoIgual()">=</div>
        <div class="col-3 botao" (click)="botaoDivisao()">/</div>
    </div>
</div>
