<body>
    

<div class="row">
    <div class="col-sm-12 col-6 carta " routerLink="/calculadora">
      <img src="../assets/calculadora.png" alt="calculadora" height="180px">
      <h4>Calculadora</h4>
    </div>

    <div class="col-6 carta" routerLink="/imc">
      <img src="../assets/imc.png" alt="calculadora de imc">
      <h4>Calculadora de IMC</h4>
    </div>

  </div>


  <div class="row">
    <div class="col-6 carta" routerLink="/conversor">
      <img src="../assets/coin-dollar-and-hand-png.png" alt="Conversor de moedas">
      <h4>Conversor de moedas</h4>
    </div>
    <div class="col-6 carta" routerLink="/lista">
      <img src="../assets/lista.png" alt="Lista de a fazeres">
      <h4>Lista de a fazeres</h4>
    </div>

  </div>


</body>